In [ ]:
#zoo.py
def hours():
    print("Open 9-5 daily")

#display.py
import zoo

hours = zoo.hours
print(hours)

In [1]:
#zoo.py
def hours():
    print("Open 9-5 daily")

#display.py
import zoo as menagerie

hours = menagerie.hours
print(hours)

ModuleNotFoundError: No module named 'zoo'

In [11]:
#books.db
import sqlite3
import sqlalchemy as sa
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
(title VARCHAR(120) PRIMARY KEY,
author VARCHAR(80),
year INT)''')
curs.execute('INSERT INTO books VALUES("The Weirdstone of Brisingamen",Alan Garner, 1960)')
curs.execute('INSERT INTO books VALUES("Perdido Street Station", China Miéville, 2000)')
curs.execute('INSERT INTO books VALUES("Thud!", Terry Pratchett, 2005)')
curs.execute('INSERT INTO books VALUES("The Spellman Files", Lisa Lutz, 2007)')
curs.execute('INSERT INTO books VALUES("Small Gods", Terry Pratchett, 1992)')

conn = sa.create_engine('sqlite:///books.db')

OperationalError: table books already exists